/* *****************************************
* Generics
* *****************************************/
body {
    background: url('../img/train.jpg') center;
}

ul {
    list-style: none;
    padding: 0;
}



/* **********************************************************************************
? ELEMENTS
* ***********************************************************************************/

/* *****************************************
* Wrapper
* *****************************************/
.wrapper {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
}